* {
  margin: 0;
}
.container {
  width: 100%;
  height: 90px;
  box-shadow: 0 0 10px red;
  display: flex;
}
.title {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menus {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title h1 {
  font-size: 45px;
  color: tomato;
}
.menus a {
  margin-right: 50px;
  text-decoration: none;
  font-size: 18px;
}
.menus button {
  border: none;
  padding: 15px 30px;
  background-color: red;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}
.homecontainer {
  width: 1000px;
  height: 470px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}
.grid1 {
  grid-column: 1 / 4;
  grid-row: 1/5;
  background-image:
    linear-gradient(45deg, rgba(0, 0, 0, 0.7)),
    url("https://static.vecteezy.com/system/resources/previews/026/911/393/non_2x/fashion-model-kids-free-photo.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.grid1 h1 {
  color: tomato;
  font-size: 47px;
  margin-bottom: 13px;
}
.grid1 p {
  color: whitesmoke;
  font-size: 17px;
  font-style: italic;
}
.grid2 {
  grid-column: 4/6;
  grid-row: 3/5;
  background-image:
    linear-gradient(45deg, rgba(0, 0, 0, 0.6)),
    url("https://tse3.mm.bing.net/th/id/OIP.GSLeu5DLafU9CnQkeKKRRQHaFl?pid=ImgDet&w=474&h=357&rs=1&o=7&rm=3");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.grid2 h1,
.grid3 h1 {
  color: tomato;
  margin-bottom: 7px;
}
.grid3 {
  background-color: red;
  grid-column: 4/6;
  grid-row: 1/3;
  background-image:
    linear-gradient(45deg, rgba(0, 0, 0, 0.6)),
    url("https://img.freepik.com/premium-photo/collage-stylish-cute-kids-posing-color-background_1111209-62453.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

#discountOffers {
  margin: 50px auto;
  width: 1200px;
  display: grid;
  grid-template-rows: 20% 80%;
}
#discount-title {
  color: tomato;
  display: flex;
  align-items: center;
}
#discount-title h1 {
  margin-left: 50px;
}
.cart-Container {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
.card {
  padding: 10px;
  width: 250px;
  text-align: center;
  box-shadow: 0 0 10px black;
}
.card p {
  font-size: 21px;
  color: tomato;
}
