* {
  margin: 0;
}
.container {
  width: 100%;
  height: 90px;
  box-shadow: 0 0 10px red;
  display: flex;
}
.title {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menus {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title h1 {
  font-size: 45px;
  color: tomato;
}
.menus a {
  margin-right: 50px;
  text-decoration: none;
  font-size: 18px;
}
.menus button {
  border: none;
  padding: 15px 30px;
  background-color: red;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}
#bg-Image {
  height: 400px;
  background-image:
    linear-gradient(45deg, rgba(0, 0, 0, 0.8)),
    url("https://static.vecteezy.com/system/resources/previews/002/099/443/large_2x/programming-code-coding-or-hacker-background-programming-code-icon-made-with-binary-code-digital-binary-data-and-streaming-digital-code-vector.jpg");
  background-size: 100% 100%;
  background-color: red;
}
#bg-Image img {
  border-radius: 50%;
  position: absolute;
  left: 42%;
  top: 65%;
  margin-bottom: 20px;
}
#profile-details {
  position: relative;
  top: 500px;
  text-align: center;
}
#profile-details h1 {
  margin-bottom: 15px;
  color: tomato;
}
#profile-details p {
  margin-bottom: 9px;
  font-style: italic;
}
