* {
  margin: 0;
}
.container {
  width: 100%;
  height: 90px;
  box-shadow: 0 0 10px red;
  display: flex;
}
.title {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menus {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title h1 {
  font-size: 45px;
  color: tomato;
}
.menus a {
  margin-right: 50px;
  text-decoration: none;
  font-size: 18px;
}
.menus button {
  border: none;
  padding: 15px 30px;
  background-color: red;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}
.categories {
  width: 1250px;
  margin: 50px auto;
  display: flex;
  justify-content: space-evenly;
}
.category {
  text-align: center;
}
.category img {
  border-radius: 50%;
  margin-bottom: 13px;
  box-shadow: 0 0 10px black;
}
.category h2 {
  color: tomato;
}
.products {
  margin: 50px auto;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 20px;
  column-gap: 10px;
}
.product {
  width: 270px;
  height: 450px;
  box-shadow: 0 0 10px green;
  padding: 10px;
}
.product h2 {
  margin: 11px 0px;
  color: green;
}
.product p {
  margin: 15px 0;
}
.product button {
  border: none;
  padding: 11px 15px;
  background-color: green;
  color: white;
  font-weight: bold;
}
i {
  color: tomato;
}
